@charset "UTF-8"

$color-main = #96358C
$color-secondary = #B11CA2
$color-white = #fff
$color-bg = #f2f2f2
$color-black = #000
$color-34 = #343434
$color-53 = #535353
$color-777 = #777
$color-93 = #9e9e9e
$color-c6 = #c6c6c6
$color-e5 = #e5e5e5
